<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="isDeliveryDataLoad">
    <ion-item *ngFor="let docs of documents" >
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label class="ion-text-wrap"><h2>{{docs.status[0]}}</h2></ion-label>
    </ion-item>
  </ion-list>
  <ul>
    <li *ngFor="let document of documents">
      {{document.name | json}}
    </li>
  </ul>

  <ion-list>

  </ion-list>
  
</ion-content>
